@media (max-width: 1250px) {
    
    .home header {
        height: 60vh;       
    }  

    .home .headerContent h1{
        margin-top: 17%;
        width: 50%;
    }

    .home .headerContent .headerImage{
        width: 55%;
        top: 50px;
    }
    

    .home .section1 .iconParent  .icon h2{
    font-size:3.5rem;
    line-height: 4rem;
    
    }

    .home .section1 .iconParent {
            margin-top: 10%;
    }

    .home .section2 .wrapper .locations .locationsImage,
    .home .section2 .wrapper .programs .programsImage {
        width: 112%;
    }

    .home .section4 h2 {
        line-height: 5rem;
        margin-bottom: 20px;
    }    
}

@media (max-width: 1080px) {
    .home header {
        height: 50vh;
    }

    .home .headerContent h1 {
        width: 65%;
        font-size: 7rem;
    }
    

    .home .headerContent .headerImage {
        width: 40%;
        top: 0px;
        right: -56px;
    }

    .home .section1 .iconParent {
        margin-top: 50px;
    }

    .home .section1 .iconParent  .icon h2{
        font-size:3.5rem;
        line-height: 4rem;
        
    }

.home .section4 h2{
    font-size: 3.5rem;
}

}

@media (max-width:800px) {
    .home header {
        height: 35vh;
        background-size: auto;
        
    }
    
    .home .headerContent h1 {
        width: 100%;
        margin: 0 auto ;
        padding-top: 50px;
        text-align: center;
        font-size: 6rem;
    }

    .home .headerContent .headerImage {
        display: none;
    }
    .home .section1 {
        margin-top: 50px;
    }

        .home .section1 .iconParent {
            flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;

        ul {
            width:80%;


            .icon {
            flex-direction: column;
            margin-top: 30px;
            
            h2{
                margin: 15px 0 0 10px;
            }


            }
            li p {
                margin-top: 10%;
                margin-left: 0;
            }
        }      
        
        .first li:first-child p{
            margin-top: 70px;
        }  
    }

    .home .section2{
        height: auto;
    }
    .home .section2 .wrapper {
        flex-direction: column;
        .locations,
        .programs {
            flex-direction: column;
            position: static;
            width: 100%;
            text-align: center;

            .locationsImage,
            .programsImage {
                width: 50%;
                position:static;
                align-self: center;
                margin: 50px auto;
            }
        }        
    }

    .home .section3 h2{
        line-height: 7rem;
    }

    .home .section4 .wrapper {
        flex-direction: column;
        align-items: center;
        
        .image {
            width: 50%;
            margin-bottom: 50px;
        }

        .text {
            width: 100%;
            text-align: center;
        
            button{
                margin: 0 auto;
            }
        
        }
        
    }

.home .section5{
    height: auto;
    padding-bottom: 50px;
}

}

@media (max-width: 500px) {
    .home header{
        height: 30vh;
    }
    .home .headerContent h1{        
        padding-top: 90px;
    }

    .home .section1 {
        margin-top: 0;

    .iconParent .first li:first-child p{
        margin-top: 10%;
    } 
    }

    .home .section2 .wrapper {
        align-items: center;
        .locations, 
        .programs {
            width: 80%;
        }
            img {
                display: none;
            }
    }

    .home .section5 {        
        .wrapper ul{
            margin: 0 auto;
            flex-direction: column;
            li {
                width:80%;
                margin-bottom: 15px;
                padding: 0;
                display:none;
                
            }
            li:last-child {
                display:inline-block;
            }

        }
    }

    }
    