// variables


$lightBlue: #EAFEFC;
$darkBlue: #0D457F;
$yellow:  rgb(253, 217, 8); 
$white: #ffffff;
$black: black;

$baseFont: "IM Fell English", serif;
$secondaryFont:  "Roboto", sans-serif;
